@{
    ViewData["Title"] = "Home Page";
}


<div class="homediv ">
    <div class="signupbtn">
        <p class="h1">Sign Up to view more of our content.</p>
        <button class="button-58" role="button">Sign Up</button>
    </div>
</div>
